<template name="regist">
    <h4>WELCOME TO EASY WORK</h4>
   <form id="regist" method="post">
        <div class="form-group" style="padding: 30px">
            <input type="text" class="info-input form-control" name="subdomain"  placeholder="Type to add  subdomain"/>
            <input type="text" class="info-input form-control" name="name"  placeholder="Type to add  name"/>
            <input type="text" class="info-input form-control" name="address"  placeholder="Type to add  address"/>
            <input type="text" class="info-input form-control" name="phone"  placeholder="Type to add  phone"/>
            <input type="text" class="info-input form-control" name="fax"  placeholder="Type to add  fax"/>
            <input type="text" class="info-input form-control" name="scale"  placeholder="Type to add  scale"/>
            <input type="text" class="info-input form-control" name="about_url"  placeholder="Type to add  about_url"/>
            <input type="text" class="info-input form-control" name="agent_name"  placeholder="Type to add  agent_name"/>
            <input type="text" class="info-input form-control" name="agent_email"  placeholder="Type to add  agent_email"/>
            <input type="text" class="info-input form-control" name="agent_phone"  placeholder="Type to add  agent_phone"/>
            <input type="text" class="info-input form-control" name="agent_title"  placeholder="Type to add  agent_title"/>
            <input type="submit" class="btn btn-danger" value="Regist" />
        </div>
    </form>
</template>