<template name="footer">
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 copy-right"><b> © 2017 Easywork Services Provider. All Rights Reserved.</b></div>
                <!-- <div class="copy-right"><b> © 2017 Easywork Services Provider. All Rights Reserved.</b></div> -->
            </div>
            <div class="row">
                <div class="col-md-12 contact">
                    <i class="material-icons footer-i">email</i>quytm2239@gmail.com
                    <!-- <div class="contact">quytm2239@gmail.com</div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 location">
                    <i class="material-icons footer-i">home</i>12F Lanmark 72, Keangnam, Ha Noi.
                    <!-- <div class="location">12F Lanmark 72, Keangnam, Me Tri St, Nam Tu Liem, Ha Noi.</div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 phone">
                    <i class="material-icons footer-i">call</i>+084-988-352-625
                    <!-- <div class="phone">+084-988-352-625</div> -->
                </div>
            </div>
        </div>
        <div class="button-expand-container">
            <div class="button-expand-container-fake-border">
                <i class="material-icons" id="buttonExpand">expand_less</i>
            </div>
        </div>
    </footer>
</template>
