<template name="sidebar">
    <div class="side-bar-container">
        <div class="side-bar-header">
            <img class="side-bar-header-img" src="/img/meteor-64.png">
        </div>
        <ul class="side-bar-list">
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item-selected">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
            <li class="side-bar-item">MENU ITEM 1</li>
        </ul>
        <div class="side-bar-footer">
            <div id="buttonCollapseSideBar">
                <i class="material-icons" id="iconCollapseSideBar">keyboard_arrow_left</i>
            </div>
        </div>
    </div>
</template>
