<template name="sidebar">
    <div class="side-bar-container">
        <div class="side-bar-header">
            <img class="side-bar-header-img" src="/img/meteor-64.png">
        </div>
        <div class="side-bar-project-info">
            <i class="material-icons" id="iconCollapseProjectInfo">keyboard_arrow_up</i>
            <div class="side-bar-project-info-content">
                asdasdasdadadadadadasdasdasdadadadadadasdasdasdadadadadadasdasdasdadadadadad
                asdasdasd
                asdasdasdasdasdas
                asdasdasd
                asdasdasdasd
                gdfghfhfgh
                fghfhfgh
            </div>
        </div>
        <ul class="side-bar-list">
            <li><i class="material-icons side-bar-item-icon">monetization_on</i><div class="side-bar-item">Edit project</div></li>
            <li><i class="material-icons side-bar-item-icon">monetization_on</i><div class="side-bar-item">Recent Project</div></li>
            <li><i class="material-icons side-bar-item-icon">monetization_on</i><div class="side-bar-item">Nghiêm túc 1</div></li>
            <li><i class="material-icons side-bar-item-icon">monetization_on</i><div class="side-bar-item">Nghiêm túc 1</div></li>
        </ul>
        <div class="side-bar-footer">
            <div id="buttonCollapseSideBar">
                <i class="material-icons" id="iconCollapseSideBar">keyboard_arrow_left</i>
            </div>
        </div>
    </div>
</template>
