.side-bar-container {
    border-right: @color-main-theme solid 1px;
    position: fixed;
    background: @color-side-bar;
    width: 300px;

    height: ~"-moz-calc(100% - 61px)";
    /* WebKit */
    height: ~"-webkit-calc(100% - 61px)";
    /* Opera */
    height: ~"-o-calc(100% - 61px)";
    /* Standard */
    height: ~"calc(100% - 61px)";

    display: flex;
    flex-direction: column;

    .side-bar-header {
        padding: 12px 12px 12px 12px;
        .side-bar-header-img {
            width: 54px;
            height: 54px;
        }
    }

    .side-bar-project-info {
        height: 250px;
        border-top: @color-main-theme solid 1px;

        display: flex;
        flex-direction: column;

        #iconCollapseProjectInfo{
            color: @color-main-theme;
            width: 100%;
            text-align: center;
            height: 25px;
            font-size: 25px;
            line-height: 100%;
            cursor: pointer;
            border-bottom: @color-main-theme solid 1px;
        }

        .side-bar-project-info-content{
            line-height: 1;
            flex-grow: 1;
            word-wrap: break-word;
            overflow: auto;
        }
    }

    .side-bar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 1em;
        overflow: auto;
        flex-grow: 1;
        border-top: @color-main-theme solid 1px;
        margin-bottom: 41px; // Footer height and its top border

        .side-bar-item {
            padding: 12px 12px 12px 12px;
            color: @color-main-theme;
            cursor: default;
            font-size: 16px;
            background: transparent;
        }

        li {
            height: 40px;
            padding-left: 12px;
            display: flex;
            cursor: pointer;
            .side-bar-item {
                cursor: inherit;
            }
            .side-bar-item-selected {
                cursor: inherit;
            }
        }

        li:hover {
            background: @color-side-bar-item-selected;
        }
        .side-bar-item-icon {
            font-size: 25px;
            color: @color-main-theme;
            margin-top: ~"calc((40px - 25px) / 2)";
        }
    }

    .side-bar-footer {
        position: fixed;
        bottom: 0;
        height: 40px;
        border-top: @color-main-theme solid 1px;
        width: 299px;
        background: @color-side-bar;
        #buttonCollapseSideBar {
            float: right;
            height: 100%;
            width: 50px;
            background: #c4cde0;
            // border-right: @color-main-theme solid 1px;
            cursor: pointer;
            #iconCollapseSideBar {
                margin: 5px 11px 5px 9px;
                font-size: 30px;
                color: @color-main-theme;
                cursor: inherit;
            }
        }
    }
}

.selected {
    background: @color-side-bar-item-selected;
    // border-top: @color-main-theme solid 0.5px;
    // border-bottom: @color-main-theme solid 0.5px;
}
